body {
  font-family: Arial, sans-serif;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding-top: 5%;
}
.form-container {
  background: #fff6ee;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 500px;
  text-align: left;
}
h2 {
  color: #333;
  text-align: center;
}
label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}
input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
textarea {
  height: 80px;
  resize: vertical;
}
.submit-btn {
  background-color: orange;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}
.footer {
  margin-top: 10px;
  font-size: 12px;
  color: gray;
  text-align: center;
}